* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(174, 226, 78);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 35px;
  color: azure;
  text-align: center;
  margin: 15px;
}

.A {
  color: black;
  margin-bottom: 15px;
}

p {
  color: azure;
}

div {
  background-color: rgba(136, 136, 108, 0.925);
  font-style: italic;
  border: 5px solid black;
  width: 400px;
  padding: 10px;
  margin-left: 140px;
  margin-top: 100px;
}

img {
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 30px;
}

button {
  background: greenyellow;
  padding: 4px;
  width: 80px;
  margin-left: 150px;
}

h2 {
  text-align: center;
}

input {
  padding: 4px;
  margin-left: 100px;
}
